@import url("https://fonts.googleapis.com/css2?family=Jost:wght@100;200;300;400;500;600&display=swap");

html,
body {
  font-family: "Jost", sans-serif;
  background-color: #f2f4ff;
  font-size: 16px;
  color: #647196;
}

.btn {
  color: #4661E6;
  font-size: 13px;
  cursor: pointer;
}

.pry-btn {
  font-size: 13px;
  background-color: #ad1fea;
  color: #fff;
  border-radius: 10px;
  padding: auto;
  width: 158px;
  height: 43px;
}

.sec-btn {
  font-size: 13px;
  background-color: #4661E6;
  color: #fff;
  border-radius: 10px;
  padding: 0 30px;
  /* width: 158px; */
  height: 43px;
}

.cancel-btn {
  font-size: 13px;
  background-color: #3a4374;
  color: #fff;
  border-radius: 10px;
  padding: auto;
  height: 43px;
}

.emptyTextBox {
  border: 1px solid red;
}

h1 {
  font-size: 20px;
}

h2 {
  font-size: 18.72px;
}

h3 {
  font-size: 18px;
}

h4 {
  font-size: 15px;
}

h5 {
  font-size: 14px;
}

.view {
  margin: 50px 100px;
  justify-content: space-between;
  gap: 25px;
}

.suggestion-header {
  height: 72px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #373f68;
  border-radius: 10px;
  padding: 24.5px;
  color: #fff;
}

.sugg-box {
  background: #fff;
  border-radius: 10px;
  padding: 25px;
  display: flex;
  align-items: flex-start;
  gap: 50px;
  margin: 24px 0;
}

.sugg-title {
  color: #3a4374;
  font-weight: 700;
}

.sugg-desc {
  color: #647196;
}

.sugg-tab {
  background: #f2f4ff;
  padding: 0px 10px;
  font-size: 14px;
  height: 30px;
  color: #4661E6;
  border-radius: 10px;
  text-transform: capitalize;
}

.upvotes {
  background-color: #f2f4ff!important;
  color: #3a4374!important;
  font-weight: 700!important;
  padding: 10px;
  border-radius: 10px;
}

.comment-box {
  background: #fff;
  border-radius: 10px;
  padding: 25px;
}

.textbox {
  align-self: stretch;
  line-height: 1.75rem;
  max-width: 100%;
  min-height: 40px;
  width: 100%;
  color: rgb(100, 113, 150) !important;
  padding: 15px !important;
  border-radius: 10px;
}

.inputBox {
  width: 100%;
  color: rgb(100, 113, 150) !important;
  padding: 15px !important;
  border-radius: 10px;
}

.select-input {
  width: 100%;
  color: rgb(100, 113, 150) !important;
  padding: 15px !important;
  border-radius: 10px;
}

.select-input option {
  background-color: white !important;
  padding: 15px !important;
  border-bottom: 1px solid blueviolet !important;
  font-size: 12px !important;
}

.emptyCard {
  background: #fff;
  border-radius: 10px;
  padding: 25px;
  height: 660px;
  /* width: 100%; */
  display: flex;
  flex-direction: column;
  justify-content: center;
}



.slide-fade-enter-active {
  transition: all .3s ease;
}
.slide-fade-leave-active {
  transition: all .8s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}
.slide-fade-enter, .slide-fade-leave-to
/* .slide-fade-leave-active below version 2.1.8 */ {
  transform: translateX(10px);
  opacity: 0;
}


@media screen and (max-width: 1024px) {
  .view {
    margin: 50px 24px;
  }
}


@media screen and (max-width: 540px) {
  .view {
    margin: 0px 0px;
  }
  .suggestion-header {
    border-radius: 0px;
  }
  .sec-btn {
    font-size: 12px;
    border-radius: 10px;
    padding: 0 20px;
    /* width: 158px; */
    height: 38px;
  }
  .sugg-box {
    border-radius: 10px;
    padding: 12px;
    display: grid;
    grid-template-columns: 2fr;
    grid-template-rows: 3fr;
    gap: 24px;
    padding: 24px;
  }

  .sugg-box :nth-child(1) {
    order: 3;
  }
}